.button {
    -fx-font-weight: bold;
}

/*#stack-pane{
    -fx-background-image: url("./logo_new_2022.png");
    -fx-background-color: white;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 400 75;
    -fx-background-position: top center;
}*/
